.preloader {
  min-height: 282px;
  background-color: #F5F6F7;
}

.preloader__wrap {
  padding: 80px 0 80px;
}

.preloader__wrap__circle {
	display: block;
	width: 74px;
	height: 74px;
  border: 1px solid rgba(209, 210, 214, 0.2);
  border-bottom-color: #1A1B22;
	border-radius: 50%;
  margin: 0px auto 24px;
	animation: spin .75s infinite linear;
}

.preloader__wrap__paragraph {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 24px;
text-align: center;
color: #B6BCBF;
margin: 0;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}