.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 104px 28px 104px;
  align-items: center;
}

.footer__copyright {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  flex-basis: 816px;
}

.footer__links {
  align-items: center;
  display: flex;
}

.footer__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
  text-decoration: none;
  margin-right: 42px;
}

.footer__logo {
  margin-right: 28px;
}

.footer__logo:last-of-type {
  margin-right: 0px;
}